<!DOCTYPE html>
<html>
<body>
function: {{function}}
<h1>Abandoned FD and Children Report <br>On {{serverName}}, for ITSSUPP - {{jiraTicket}}</h1>
<h3>Errors: {{errors}} ( {{errormsg}} )</h3>

<h4>The statuses of the following entities  were changed to abandoned/cancelled:</h4>
Samples: <p id="sam">{{ samples }}</p>
Sows: <p id="sows">{{ sows }}</p>
SPs: <p id="sps">{{ sps }}</p>
Analysis Projects: <p id="aps">{{ aps }}</p>
Analysis Tasks: <p id="ats">{{ ats }}</p>
FDs: <p id="fds">{{ fds }}</p>

<h2> Use this query to confirm the statuses: </h2>
{{ query }}

<h4 >  Use this set of samples with routeToWorkflow controller to remove any samples from queues: </h4>

<p id="demo"></p>
<script>
 {
    var s = document.getElementById("sam").innerHTML;
    var sliceStr = s.slice(2,s.length-2);
    const splitStr = sliceStr.split("', '")
    var text = ""

    for (i = 0; i < splitStr.length; i++) {
    text += splitStr[i] + "<br>";
        }
     document.getElementById("demo").innerHTML = text;
}
</script>

Route to workFlow URL:  <a id="urlid">{{ url }}</a>

<p id="demo2"></p>
<script>
 {
    var urltext = document.getElementById("urlid").innerHTML;
    document.write("<p>Link: " + urltext.link(urltext) + "</p>");
}
</script>
</body>
</html>
