<!DOCTYPE html>
<html>
<body>
function: {{function}}
<h2>Account Info Change Report <br>On {{server}}, for ITSSUPP-{{jiraTicket}}</h2>
<h3>Errors: {{errors}} ( {{errormsg}} )</h3>

<h3>--------------------------------------------------------------------------------------------------</h3>
<h2>Change Account Info on <span style="color: #ff0000"> {{spIds}}</span> to the following:</h2>
<h4>Account ID: <span style="color: #ff0000"> {{acctID}}</span></h4>
<h4>Scientific Program: <span style="color: #ff0000"> {{sciPrg}}</span></h4>
<h4>Purpose: <span style="color: #ff0000"> {{purpose}}</span></h4>
<h4>User Program : <span style="color: #ff0000"> {{userPrg}}</span></h4>
<h4>Year: <span style="color: #ff0000"> {{year}}</span></h4>


<h3> Use this query to confirm the statuses: </h3>
{{ query }}


</body>
</html>


