<!DOCTYPE html>
<html>
<body>
<h1>Abandoned SP and Children Report</h1>
<br><br>

The ojbect values are:
<br>
<br> Server: {{ server }}
<br> Comment for DB: {{ comment }}
<br>Function to do:  {{ function }}
<br>
<br>Samples: <p id="sam">{{ samples }}</p>
<br>
<br>Sows:  {{ sows }}
<br>
<br>SPs:  {{ sps }}
<br><br>
<h2> Use this query to confirm the statuses: </h2>
{{ query }}

<p id="demo">Click the button to change the text in this paragraph.</p>
<button onclick="myFunction()">Try it</button>

<script>
function myFunction() {
    var s = document.getElementById("sam").innerHTML;
    var sliceStr = s.slice(2,s.length-2);
    const splitStr = sliceStr.split("', '")
    var text = ""

    for (i = 0; i < splitStr.length; i++) {
    text += splitStr[i] + "<br>";
        }
     document.getElementById("demo").innerHTML = text;
}
</script>

</body>
</html>
